@charset "utf-8";
@import "mixins.scss";
@import "base.param.scss";
@import "sprite.scss";

// Master
//=======
#master {

}

// Main content
//=============
#main-content {

}

// Main footer
//============
#main-footer {

}